@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
    font-family: 'shabnam';
    src: url('./fonts/Shabnam.ttf') format('ttf')
}

h1 {
    font-family: 'shabnam';
    font-weight: bold;
}

input {
    font-family: 'shabnam';
    padding: 20px 20px;
    border: 1px solid rgba(75, 77, 173, 0.753) !important;
    border-radius: 8px;
    outline: none;
}

p {
    font-family: 'shabnam'
}

button {
    font-family: 'shabnam'
}

.cent {
    text-align: center;
    margin: 0 auto;
}