@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face{
    font-family: 'shabnam';
    src: url('./fonts/Shabnam.ttf') format('ttf')
}

h1{
    font-family: 'shabnam';
    font-weight: bold;
}

input{
    font-family: 'shabnam'
}

p{
    font-family: 'shabnam'
}

button{
    font-family: 'shabnam'
}

.cent{
    text-align: center;
    margin: 0 auto;
}
