@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(238, 97, 203, 0.993);
  background-repeat: repeat;
  direction: rtl;
}

@font-face {
  font-family: 'shabnam';
  src: url('./fonts/Shabnam.ttf') format('ttf')
}

button{
  font-family: 'shabnam';
}

.btn{
  text-align: center;
  margin: 0 auto;
  background-color: red;
}